.header
	color: #fff
	background-color: #343c46
	border-bottom: 3px solid #5ea3d3
	min-height: 150

	label
		margin-right: 35px

	.show
		position: relative
		top: 27px
		margin-bottom: 17px
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0)

	.caption
		margin-top: 0


@media (min-width: 250px)
	.header
		padding: 30px 30px 20px

	.header .show
		display: block

		&:hover
			cursor: pointer
			color: darken(#fff, 20%)

		&:active
			color: darken(#fff, 30%)

	.settings.hide
		display: none


@media (min-width: 860px)
	.header
		padding: 10px 30px

	.header .show
		display: none

	.settings,
	.settings.hide
		display: block
