.menu
	padding: 5px 15px
	background-color: #23282f
	border-bottom: 1px solid #444d5b
	color: #fff
	overflow: hidden

	> a
		color: #fff
		text-decoration: none

		&:hover
			text-decoration: underline
