<div class="livestream livestream-detail">
	<div class="livestream__content">
		<table class="livestream__table" role="livestream-table">
			<thead class="livestream__table__header" role="livestream-table-header"></thead>
			<tfoot class="livestream__amounts" role="livestream-summa"></tfoot>
			<tbody class="livestream__events" role="livestream-events"></tbody>
		</table>
	</div>
</div>
