<div class="livestream__cell livestream__cell__type" role="livestream-cell" data-id="{{ @index }}">
	<p class="sort {{ sort }}" role="sort">
		<span class="sort-arrow sort-arrow-top">&#9650;</span>
		<span class="sort-arrow sort-arrow-bottom">&#9660;</span>
	</p>
	<div class="filter" role="livestream-cell-filter">
		<span class="livestream__cell__title">{{ title }}</span>
		<span class="filter-arrow {{ arrow_status }}" role="filter-arrow">&#9660;</span>
		<div class="livestream__cell__select" role="livestream-cell-select">
			{{#each filters}}
				<div class="livestream__select__option {{ status }}" role="livestream-select-option" data-id="{{ @index }}" data-value="{{ value }}">{{ formattedValue }}</div>
			{{/each}}
		</div>
	</div>
</div>
