<form action="{{ url }}" role="form">
	<div class="queries-form__content">
		{{#each form_params}}
			<div class="queries-form__field">
				<div>{{ title }}:</div>
				<div>
				{{#if options}}
					<select name="{{ name }}">
						<option value></option>
						{{#each options}}
							{{#equal ../value this}}
								<option value="{{ this }}" selected>{{ this }}</option>
							{{ else }}
								<option value="{{ this }}">{{ this }}</option>
							{{/equal}}
						{{/each}}
					</select>
				{{else}}
					<input type="text" name="{{ name }}" value="{{ value }}" />
				{{/if}}
				</div>
			</div>
		{{/each}}
		<div class="queries-form__field">
			<button class="chart__queries-form__button" type="submit">Запрос</button>
		</div>
	</div>
</form>
