body
	margin: 0
	background-color: #f5f5f5
	font-family: Arial, sans-serif
	
form
	p
		display: inline-block


	button
		color: #fff
		padding: 6px 10px 6px 10px
		border: none
		border-radius: 4px
		background-color: #5ea3d3
		cursor: pointer
		transition: background-color .5s

		&:hover
			background-color: darken(#5ea3d3, 20%)


		&:active
			background-color: lighten(#5ea3d3, 20%)


	select,
	input[type="text"]
		font-size: 14pt
