{{#each formattedRows}}
	<tr class="livestream__row">
		<td class="livestream__cell livestream__cell__number">{{ inc @index }}</td>
		{{#each this}}
			<td class="livestream__cell">{{{ this }}}</td>
		{{/each}}
	</tr>
{{/each}}
