#widget
	top: 30px
	position: relative

#widgetCalendar
	border: 1px solid #ccc
	background-color: #fff

.range_interval
	position: relative

#widgetCalendar .datepicker
	top: 15px
	left: 15px

.datepicker td
	padding: 8px!important

.datepickerDays a
	padding-right: 0
	width: auto
	height: auto
	text-align: center

.datepickerDays .datepickerSelected
	background: #6FB1DE

.datepickerDays .datepickerNotInMonth.datepickerSelected
	background: #ff7878

.datepickerSelected > a
	color: #fff

.datepickerMonth
	font-weight: bold!important

.datepickerSpace div
	width: auto

.datepickerDoW th span
	display: block
	font-weight: bold
	color: #000
	padding: 6px 0

.datepickerDoW
	border-bottom: 1px solid #000

.datepickerGoPrev span,
.datepickerGoNext span
	width: 20px
	font-size: 20px


@media (min-width: 250px)
	#widgetCalendar
		width: 310px
		height: 910px

	.datepickerContainer > table > tbody > tr > td
		display: inline-table

	.datepicker td
		font-size: 14pt

	.datepickerViewDays
		margin: 25px 0px

	.range_datepicker
		float: left
		width: 100%

	.range_interval
		position: relative
		top: -40px
		text-align: center


@media (min-width: 860px)
	#widget
		float: right

	#widgetCalendar
		height: 285px
		width: 820px

	.datepicker td
		font-size: 10pt

	.datepickerViewDays
		margin: 0

	.datepickerContainer > table > tbody > tr > td
		display: table-cell

	.range_datepicker
		position: relative
		top: 40px
		float: right
		width: 250px

	.range_interval
		text-align: right
		top: 0