.chart
	margin: 10px 0


.chart__header
	padding: 8px 15px
	color: #fff
	background-color: #5ea3d3
	font: bold 12px "Arial", sans-serif
	overflow: hidden


.chart__update
	float: right
	cursor: pointer
	transform: rotate(65deg)

	&:hover
		animation: rotate 0.7s linear


.chart__title
	float: left


.chart__icon
	float: right
	cursor: pointer

	&:hover
		color: #ddd


.chart__queries-form
	width: auto
	padding-left: 5px
	overflow-x: scroll
	overflow-y: hidden
	white-space: nowrap
	border-bottom: none


.chart__queries-form__button
	margin: 0 auto


.queries-form__field
	display: inline-block


.chart__title__error
	color: #ff0000


.chart__content
	min-height: 300px
	background: white
	border: 1px solid #ccc
	border-top: none


.chart-detail .chart__content
	min-height: 400px
	overflow: hidden


.chart__widget
	> div > div
		float: left
		width: 100%
		height: 300px

	> div > .livestream-detail
		height: auto!important


.chart__widget-queries
	> div > div
		height: 237px!important


.chart__error
	height: 300px
	background-color: #fff


.chart__error__message
	height: 100%
	color: #ff0000
	font-size: 16pt
	word-wrap: break-word
	max-height: 300px
	padding: 10px
	margin: 0
	overflow-y: scroll


.chart__error__detail
	height: 100%

	> .chart__error__message
		max-height: initial
		overflow-y: hidden


.chart__more 
	display: inline-block
	width: 100%
	background-color: #5ea3d3
	color: #ffffff
	padding: 8px 15px
	font-weight: 400
	text-decoration: none
	text-align: center

	&:hover
		cursor: pointer
		font-weight: bold
		background-color: #6FB1DE


	&-goback
		width: 65px
		margin: 5px 15px 0px
		border-radius: 4px
		padding: 6px 10px 6px 10px
		box-sizing: border-box


@keyframes rotate
	from
		transform: rotate(65deg)

	to
		transform: rotate(425deg)