.presets
	> .menuDate
		border-radius: 4px
		background-color: #5ea3d3
		cursor: pointer
		transition: background-color .5s

		&:hover
			background-color: darken(#5ea3d3, 20%)

		&:active
			background-color: lighten(#5ea3d3, 20%)

	> .menuDate > a
		display: block
		color: #fff
		padding: 6px 10px 6px 10px


@media (min-width: 250px)
	.presets > .menuDate
		display: block


@media (min-width: 860px)
	.presets > .menuDate
		display: inline-block
