.livestream
	float: left
	width: 100%
	background-color: #fff
	overflow: hidden
	border-bottom-left-radius: 0
	border-bottom-right-radius: 0

	.sort
		position: absolute
		left: 0px
		top: -16px
		cursor: pointer


	.sort.all .sort-arrow-top,
	.sort.all .sort-arrow-bottom
		display: block


	.sort.direct .sort-arrow-top,
	.sort.reverse .sort-arrow-bottom
		display: none


	.sort.direct .sort-arrow-bottom
		display: block


.livestream__content
	overflow: auto
	height: 300px
	max-height: 300px
	border-top: none


.livestream__table
	width: 100%
	border-spacing: 0

	&__header .livestream__row
		background-color: #ececec
		border-bottom: 1px solid #ccc


	&__header .sort-arrow
		position: absolute
		font-size: 6pt
		left: 6px


	&__header .sort-arrow-top
		top: 7px


	&__header .sort-arrow-bottom
		top: 15px


.livestream__table__header

	td
		padding: 0 3px
		border: 1px solid #ccc
		border-left: none
		color: #777
		font-weight: bold

	td:last-child
		border-right: none


.livestream__row
	&:nth-child(2n)
		background-color: #fafafa


.livestream__row__amounts
	background-color: #ececec

	.livestream__cell
		height: 34px
		font-weight: bold
		border: 1px solid #ccc
		border-left: none
		
		&:first-child
			border-top: none

		&:last-child
			border-right: none


.livestream__cell
	padding: 9px 18px
	min-width: 120px
	color: #333

	&__type
		position: relative
		color: #777
		font-weight: bold
		@extend .user-select-none


	&__select
		position: absolute
		display: none
		background-color: #fff
		border: 1px solid #ccc
		min-width: 100px


	&__select.active
		display: block


	&__number
		min-width: 30px
		padding: 0 5px
		background: #ececec
		border-bottom: 1px solid #ccc
		border-right: 1px solid #ccc



.livestream-events
	background: #ffffff
	.livestream__cell a
		color: #447fa6


.livestream__select__option
	padding: 8px
	border-bottom: 1px solid #ccc
	cursor: pointer


	&:last-child
		border-bottom: none


	&:hover
		background-color: darken(#fff, 10%)


	&.active
		color: #000
		background-color: #fafafa


.filter
	&
		display: inline-block
		position: relative
		margin: 0
		padding-right: 19px


	&-arrow
		position: absolute
		top: 1px
		right: 0px
		padding: 2px
		margin-left: 6px
		font-size: 7pt
		height: 15px
		cursor: pointer


	&-arrow.active
		transform: rotate(180deg)


	&-arrow.have-elements
		color: #000


.livestream-simple
	.livestream__content
		height: auto
		min-height: 100%


.livestream-detail,
.livestream-detail .livestream__content
	height: auto!important
	overflow-x: auto
	min-height: 400px
	max-height: none!important


.livestream__table__wrapper
	display: inline-block


.livestream__filter
	width: 100%