/* index.sass */
html, body
	min-height: 100%
	height: auto!important


html
	box-sizing: border-box
	overflow: scroll!important


body
	position: relative
	margin: 0
	padding-bottom: 6rem
	overflow: initial!important
