<div class="livestream livestream-simple">
	<div class="livestream__content">
		<div class="livestream__table__wrapper">
			<div class="livestream__filter" role="livestream-filter"></div>

			<table class="livestream__table">
				<thead class="livestream__table__header">
					<tr class="livestream__row">
						{{#each headers}}
							<td class="livestream__cell livestream__cell__type">
								{{ this }}
							</td>
						{{/each}}
					</tr>
				</thead>
				<tbody class="livestream__events" role="livestream-events"></tbody>
			</table>
		</div>
	</div>
</div>
