<div class="chart col-md-4 col-sm-6 col-xs-12">
	<div class="chart__header">
		<div class="chart__title">{{title}}</div>
		<div class="chart__update" role="chart-update">&#x21bb;</div>
	</div>
	{{#if isError}}
		<div class="chart__error">
			<p class="chart__error__message">{{{ error }}}</p>
		</div>
	{{else}}
		<div class="chart__content">
			<div class="sk-fading-circle" role="spinner">
				<div class="sk-circle1 sk-circle"></div>
				<div class="sk-circle2 sk-circle"></div>
				<div class="sk-circle3 sk-circle"></div>
				<div class="sk-circle4 sk-circle"></div>
				<div class="sk-circle5 sk-circle"></div>
				<div class="sk-circle6 sk-circle"></div>
				<div class="sk-circle7 sk-circle"></div>
				<div class="sk-circle8 sk-circle"></div>
				<div class="sk-circle9 sk-circle"></div>
				<div class="sk-circle10 sk-circle"></div>
				<div class="sk-circle11 sk-circle"></div>
				<div class="sk-circle12 sk-circle"></div>
			</div>
			{{#if queries}}
				<div class="chart__queries-form" role="queries-form"></div>
				<div class="chart__widget chart__widget-queries" role="chart-widget"></div>
			{{else}}
				<div class="chart__widget" role="chart-widget"></div>
			{{/if}}
		</div>
	{{/if}}
	<a data-route="" href="" role="app-route" class="app-route chart__more">Подробнее</a>
</div>
