<script type="text/javascript">
	window.meter_mount_path = "<%= Meter.configuration.mount_path %>";
	window.meter_widgets_path = "<%= Meter.configuration.config_path %>";
</script>

<div class="meter" role="meter"></div>