<label class="measure-radio">
    <input type="radio" name="measure" class="measure" value="auto">
    <span class="measure_label">Авто</span>
</label>
<label class="measure-radio">
    <input type="radio" name="measure" class="measure" value="days">
    <span class="measure_label">По дням</span>
</label>
<label class="measure-radio">
    <input type="radio" name="measure" class="measure" value="weeks">
    <span class="measure_label">По неделям</span>
</label>
<label class="measure-radio">
    <input type="radio" name="measure" class="measure" value="months">
    <span class="measure_label">По месяцам</span>
</label>