<li class="menuDate"><a href="#" role="today">Сегодня</a></li>
<li class="menuDate"><a href="#" role="yeasterday">Вчера</a></li>
<li class="menuDate"><a href="#" role="week">7 дней</a></li>
<li class="menuDate"><a href="#" role="thirty">30 дней</a></li>
<li class="menuDate"><a href="#" role="threemonths">Три месяца</a></li>
<li class="menuDate"><a href="#" role="lastweek">Прошлая неделя</a></li>
<li class="menuDate"><a href="#" role="lastmonth">Прошлый месяц</a></li>
<li class="menuDate"><a href="#" role="currentmonth">Текущий месяц</a></li>
<li class="menuDate"><a href="#" role="year">Год</a></li>